@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    display:flex;/*display flex does all the things in row*/
    flex-direction: column;
    /*if it was rows instead of columns, it would align in terms of column center*/
    align-items: center;
    /*the following commands center the content on the page*/
    justify-content: center;
    /*100vh covers the entire page height*/
    height: 100vh;
    overflow: hidden;
    margin: 0;
}